#title{
    color: white;

}



#title{
    text-align: center;
    background-image: url(https://www.perf-and-fit.com/upload/30738-7-vertus-de-la-fraise.jpg) ;
    background-size: 800px 400px;
    background-repeat: no-repeat;
    background-position: center;
}

#def{
    background-color:crimson;
    text-align: center;
    color: white;
}

#gariguette{
    background-color: green;
    text-align: left;
    
}